<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div style="padding: 10px; background-color: #003375">
        <div style="padding: 10px; background-color: white;">
            <h4 style="color: #0085ff; font-weight: bold; font-size: 20px;">Welcome to Awesome Class</h4>
            {{{body}}}
            <div class="footer">
                <p>Thanks for using Awesome Class!</p>
            </div>
        </div>
    </div>
</body>

</html>