<p>Hello</p>
<br>
<p>To complete activete your account, please use the following code below:</p>
<br>
<p>Your activete code: </p>
<p style="font-weight: bold; font-size: 16px;">{{activatedCode}}</p>
<br>