<p>Hello</p>
<p></p>
<p>To complete active your account, please click button below:</p>
<a class="buton-active" href="{{endpoint}}/auth/active?id={{userId}}&active_code={{activatedCode}}" style="
    padding: 10px 15px;
    background-color: #15c;
    color: white;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-decoration: none;
    box-shadow: 1px 1px #ccc;
    outline: none;
">Active your
    account</a>