<div>
    <p>Hello,</p>
    <br>
    <p>{{from}} invited you to join the class: {{className}}</p>
    <p>To accept this invite, please click button below: </p>
    <br>
    <a class="buton-active" href="{{endpoint}}/api/class-member/accept-invited?idClass={{classMemberId}}" 
    style="
        padding: 10px 15px;
        background-color: #15c;
        color: white;
        border-radius: 5px;
        border: 1px solid #ccc;
        text-decoration: none;
        box-shadow: 1px 1px #ccc;
        outline: none;
    ">
    Accept invite</a>
</div>