<div>
    <p>{{from}} invited you to join the class: {{className}}</p>
    <a class="buton-active" href="http://localhost:8000/api/class-member/accept-invited?idClass={{classMemberId}}&user={{memberInvited}}" 
    style="
        padding: 10px 15px;
        background-color: #15c;
        color: white;
        border-radius: 5px;
        border: 1px solid #ccc;
        text-decoration: none;
        box-shadow: 1px 1px #ccc;
        outline: none;
    ">
    Active your account</a>
</div>